<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Run</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<form>
  Nazwa biegu:<br>
  <input type="text" name="nameRun"><br>
  Dystans:<br>
  <input type="text" name="distance"><br>
  Data:<br>
  <input type="text" name="date"><br>
  Miasto:<br>
  <input type="text" name="myTime"><br>
  Nazwa biegu:<br>
  <input type="text" name="city"><br>
  Czas pływania:<br>
  <input type="text" name="swimTime"><br>
  Czas t1:<br>
  <input type="text" name="t1"><br>
  Czas roweru:<br>
  <input type="text" name="bikeTime"><br>
  Czas t2:<br>
  <input type="text" name="t2"><br>
  Czas biegu:<br>
  <input type="text" name="runTime"><br>
</form>
<body>
</body>
</html>
